# Chap6-1 dataframe loc, iloc
### DataFrame比numpy ndarry(element-wise)提供資料統整的功能
### DataFrame通常為2維資料
### 橫的為列(索引index)，直的為欄(column)

In [5]:
# 隨機產生DataFrame資料
import numpy as np
import pandas as pd
frame=pd.DataFrame(np.random.rand(4,4), index=list('abcd'),
                   columns=list('ABCD'))
frame

          A         B         C         D
a  0.974626  0.042391  0.845351  0.396247
b  0.930406  0.206601  0.967867  0.137338
c  0.029855  0.616348  0.948990  0.148040
d  0.347994  0.777295  0.255665  0.017863

# loc用欄未來定位DataFrame的資料
# iloc用索引來定位DataFrame的資料

In [6]:
frame.describe()

              A         B         C         D
count  4.000000  4.000000  4.000000  4.000000
mean   0.570720  0.410659  0.754468  0.174872
std    0.459948  0.343507  0.336869  0.158942
min    0.029855  0.042391  0.255665  0.017863
25%    0.268460  0.165548  0.697930  0.107469
50%    0.639200  0.411474  0.897171  0.142689
75%    0.941461  0.656585  0.953710  0.210092
max    0.974626  0.777295  0.967867  0.396247

In [7]:
frame.loc['a','A']

0.9746261040533146

In [8]:
# 取前兩列之資料
frame.loc['a':'b',:]

          A         B         C         D
a  0.974626  0.042391  0.845351  0.396247
b  0.930406  0.206601  0.967867  0.137338

In [9]:
# 取前兩欄之資料
frame.loc[:,'A':'B']

          A         B
a  0.974626  0.042391
b  0.930406  0.206601
c  0.029855  0.616348
d  0.347994  0.777295

In [10]:
#取特殊列、欄的資料
print(frame.loc[['a','c'],:])
print(frame.loc[:,['A','C']])
print(frame.loc[['a','d'],['A','D']])

          A         B         C         D
a  0.974626  0.042391  0.845351  0.396247
c  0.029855  0.616348  0.948990  0.148040
          A         C
a  0.974626  0.845351
b  0.930406  0.967867
c  0.029855  0.948990
d  0.347994  0.255665
          A         D
a  0.974626  0.396247
d  0.347994  0.017863

# iloc是利用列索引與欄索引進行資料定位，都是從0開始

In [11]:
frame.iloc[0,0]

0.9746261040533146

In [12]:
# 取前兩列的資料
frame.iloc[0:2,:]

          A         B         C         D
a  0.974626  0.042391  0.845351  0.396247
b  0.930406  0.206601  0.967867  0.137338

In [13]:
# 取特殊列、欄的資料
print(frame.iloc[[0,2],:])
print(frame.iloc[:,[0,2]])
print(frame.iloc[[0,3],[0,3]])

          A         B         C         D
a  0.974626  0.042391  0.845351  0.396247
c  0.029855  0.616348  0.948990  0.148040
          A         C
a  0.974626  0.845351
b  0.930406  0.967867
c  0.029855  0.948990
d  0.347994  0.255665
          A         D
a  0.974626  0.396247
d  0.347994  0.017863